/CreateNewREADME.py
/PyCharmStarter.py
/test/
**/.idea/*
/CreateBasicFolder.sh
/library/archive/
/output/
/supplement_data/
/tmp/
/ListFile.py
/input/
/data/
/library/
/recycle.py
/start_jupyter.bat
/TAG_TO_BACKUP.py
/model/
/GitAddBasicFile.sh
/TAG_XX.py
**/VSCodeStarter*.py
**/CursorStarter*.py
**/__pycache__/
**/archive/
**/*.log
MODE_*
AddSourceInfo.sh
RevealCurrentFolder.py
GetNewPython.py
**/archive/
**/MODE_*
**.log
**/*_credentials.py


**/bkp

**/*.xlsx
**/*.docx
**/*.json
**/*.pptx

*.tmp